body {
    background-color: rgb(41, 36, 65);
}

h1{
    color: rgb(186, 228, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.content {
    max-width: 600px;
    margin: 0 auto;
}

ul, ol {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(212, 236, 250);
    list-style-type:decimal;
}

.recipie-index{
    width: 300px;
    margin: 0 auto;
}

.recipie-index-list{
    list-style-type:circle;
    font-size: 20px;
}

li {
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    font-weight: bold;
}

a:visited {
    color: blue;
}

h2, h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(248, 248, 141);
}

h3{
    color: blanchedalmond
}

p{
    text-align: justify;
    color: white
}

.home-button-container{
    max-width: fit-content;
    margin: 0 auto;
}

a.home-button {
    background-color: black;
    color: rgb(255, 255, 255);
}

img {
    height: auto;
    /* width: 100%; */
    max-width: 100%;
}

.image-container {
    max-width: fit-content;
    margin: 0 auto;
}

.description-container, .ingredients-container, .steps-container{
    margin: 40px auto;
}